.jn {
    background-color: whitesmoke;
}




zin {
  opacity:0.8;
}


/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.jumbotron  {
  background-image: url("cicsize.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  opacity: 0.9;
  color: rgb(0, 51, 153) 
}

.ski {
   background-color:rgb(0, 51, 153);
   color:white;
   padding:10px;
  } 
   





hi {
  margin:100px;
  padding:30px;
}



.say {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(0, 51, 153);
}

.do{
  float: left;
}

.do a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.do a:hover {
  background-color: #111111;
}
  
footer {
text-align:center;
}

/*css for history page*/
.jumbotron.hero-nature{
  color:#fff;
  text-align:center;
  background:url('ziggiya.jpg');
  background-size:cover;
  background-position:center;
  color: rgb(0, 51, 153);
  padding-top:100px;
  padding-bottom:100px;
}


   /*css for page*/
   .jumbotron.heros-nature{
    color:#fff;
    text-align:center;
    background:url('gavel.jpg');
    background-size:cover;
    background-position:center;
    color: rgb(0, 51, 153);
    padding-top:100px;
    padding-bottom:100px;
  }

  .card-body {
    padding:200px;

  }

    /*css for preamble page*/
    .jumbotron.heroo-nature {
    color:#fff;
    text-align:center;
    background:url('lawkiwi.jpg');
    background-size:cover;
    background-position:center;
    color: rgb(0, 51, 153);
    padding-top:100px;
    padding-bottom:100px;
  }

  span {
  color: rgb(0,51.153);
   font-style: italic;
  }

   /*css for chapter 2 page*/
   .jumbotron.heroa-nature {
    color:#fff;
    text-align:center;
    background:url('lawsamy.jpg');
    background-size:cover;
    background-position:center;
    color: rgb(0, 51, 153);
    padding-top:100px;
    padding-bottom:100px;
  }

  /*css for chapter 3 page*/
  .jumbotron.herob-nature { 
    color:#fff;
    text-align:center;
    background:url('lawbooks.jpg');
    background-size:cover;
    background-position:center;
    color: rgb(0, 51, 153);
    padding-top:100px;
    padding-bottom:100px;
  }

  /*css for chapter 4 page*/
  .jumbotron.herod-nature { 
    color:#fff;
    text-align:center;
    background:url('gavelz.jpg');
    background-size:cover;
    background-position:center;
    color: rgb(0, 51, 153);
    padding-top:100px;
    padding-bottom:100px;
  }

  .skiz {
    background-color:rgb(0, 51, 153);
    color:white;
    padding:10px;
   } 


   /*css for chapter 5 page*/
  .jumbotron.herooo-nature { 
    color:#fff;
    text-align:center;
    background:url('gettyimages.jpg');
    background-size:cover;
    background-position:center;
    color: rgb(0, 51, 153);
    padding-top:100px;
    padding-bottom:100px;
  }


     /*css for chapter 6 page*/
     .jumbotron.herop-nature { 
      color:#fff;
      text-align:center;
      background:url('originalregulations.jpg');
      background-size:cover;
      background-position:center;
      color: rgb(0, 51, 153);
      padding-top:100px;
      padding-bottom:100px;
    }



    /*css for chapter 7 page*/
    .jumbotron.herom-nature { 
      color:#fff;
      text-align:center;
      background:url('chichi.jpg');
      background-size:cover;
      background-position:center;
      color: rgb(0, 51, 153);
      padding-top:100px;
      padding-bottom:100px;
    }

        /*css for chapter 8 page*/
        .jumbotron.herof-nature { 
          color:#fff;
          text-align:center;
          background:url('bitcoinandcard.jpg');
          background-size:cover;
          background-position:center;
          color: rgb(0, 51, 153);
          padding-top:100px;
          padding-bottom:100px;
        }

         /*css for chapter 9 page*/
         .jumbotron.heroy-nature { 
          color:#fff;
          text-align:center;
          background:url('claspedhands.jpg');
          background-size:cover;
          background-position:center;
          color: rgb(0, 51, 153);
          padding-top:100px;
          padding-bottom:100px;
        }


        /*css for chapter 9 page*/
        .jumbotron.herog-nature { 
          color:#fff;
          text-align:center;
          background:url('handshake.png');
          background-size:cover;
          background-position:center;
          color: rgb(0, 51, 153);
          padding-top:100px;
          padding-bottom:100px;
        }

         /*css for executive page*/
        .jumbotron.heroaky-nature { 
          color:#fff;
          text-align:center;
          background:url('chalk.jpg');
          background-size:cover;
          background-position:center;
          color: rgb(0, 51, 153);
          padding-top:100px;
          padding-bottom:100px;
        }